.rcontainer{
    width:500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    margin-top: 100px ;
    
    margin-right: 50px;
    margin-left:500px;
    
    background: rgb(183, 175, 175);
box-shadow: 0 8px 32px 0 rgba(21, 21, 22, 0.37);
/* backdrop-filter: blur( 18.5px ); */
/* -webkit-backdrop-filter: blur( 18.5px ); */
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
}

.econtainer1{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}


form{
    margin: 20px ;
}